@model BetterCS.Models.Blogpost
<!--
<h2>Summary</h2>
<p>BetterCS s is a Web site that serves as my personal blog about computer science topics</p>

<h2>Technical details about this site</h2>
<p>This is a site made in Visual Studio 2017 using ASP.NET with MVC design</p>
<p>This site uses a database with ADO.NET Entity Data Model to preform functions of Create, Delete, Details, Edit, List(Index)</p>
-->

    <h2>Vertical (basic) form</h2>
    <form action="/action_page.php">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
