@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>BetterCS</h1>
    <p class="lead">BetterCS is a Web site built with the ASP.NET web framework using MVC architecture and HTML/CSS</p>
</div>